{% extends 'base.html' %} 
{% block content %}

  <div class="container">
    <h1 class="mt-4">Busca de passagens aéreas</h1>
    <form action="/search" method="post">
      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <labelfor="destino">Destino</label>
            <input type="text" class="form-control" id="destino" name="destino" placeholder="Ex: Rio de Janeiro">
          </div>
        </div>
     
        <div class="col-md-2">
          <div class="form-group">
            <label for="data-ida">Entrada</label>
            <input type="date" class="form-control" id="data-ida" name="data-ida">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="data-volta">Saida</label>
            <input type="date" class="form-control" id="data-volta" name="data-volta">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="qtd-quarto">Quartos</label>
            <input type="text" class="form-control" id="qtd-quarto" name="qtd-quarto">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="qtd-pessoas">Pessoas</label>
            <input type="text" class="form-control" id="qtd-pessoas" name="qtd-pessoas">
          </div>
        </div>
        <div class="col-md-1 pt-3">
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
        </div>
      </div>
    </form>
  </div>


 {% endblock %} 