{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap" rel="stylesheet">

    <style>
        body{
            background-image: linear-gradient(90deg, cyan, rgb(113, 113, 232));
        }
        .login{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 80px;
            color: white;
            height: 70%;
            
            
        }
    </style>

</head>
<body>
    <div class="container-fluid" style="background-color: white;">
        <nav class="navbar navbar-expand-lg">
            <ul class="nav">
                <li class="nav-item" style="font-family:'Times New Roman', Times, sans-serif; font-size: 30pt;">
                    <a><img>Voltar</a>
                </li>
                <li class="nav-item" style="margin-left: 740px;">
            <a class="navbar-brand" href="#"><img width="130" src="{% static 'img/logo.png' %}"></a>
                </li>
            </ul>
        </nav>
        </div>

<div class="container login" style=" color: white;">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-header" style="color: black; text-align: center;">Entre ou Registre-se</div>
                     <div class="card-body">
                        <form action="/login" method="post">
                            <div class="mb-3" style="color: black;">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3" style="color: black;">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="senha" class="form-control" id="senha" name="senha" required>
                            </div>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                                <a>
                                <button class="btn btn-primary" style="margin-left: 5%;">Registrar</button>
                                </a>
                                <a style="margin-left: 35%;" href="{% url 'redefinir' %}">Esqueci minha senha</a>
                            </div>
                        </form>
                     </div>
                     <div class="card-footer">
                        <a href="#" class="btn btn-google">Entrar com a google</a>
                        <a href="#" class="btn btn-facebook">Entrar com a facebook</a>
                     </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>