{% extends 'base_adm.html' %}
{% block content %}

<div class="container mt-5" style="border: 1px solid black; height: 500px; background-color: #416980; color: white; border-radius: 10px; width: 1000px;">
    <form action="/register" method="post">
      <h2>Registrar Hotel</h2>
      <div class="form-group">
        <label for="ID_h">ID</label>
        <input type="number" class="form-control" id="ID_h" name="ID_h" placeholder="Número de identificação">
      </div>
      <div class="form-group">
        <label for="n_h">Nome</label>
        <input type="text" class="form-control" id="n_h" name="n_h" placeholder="Nome do hotel">
      </div>
      <div class="form-group">
        <label for="t_h">Telefone</label>
        <input type="tel" class="form-control" id="t_h" name="t_h" placeholder="Número para contato">
      </div>
      <div class="form-group">
        <label for="v_h">Valor</label>
        <input type="number" class="form-control" id="v_h" name="v_h" placeholder="Valor da hospedagem">
      </div>
      <div class="form-group">
        <label for="s_h">Serviços</label>
        <select class="form-control" id="s_h" name="s_h">
          <option value="1">Alimentação</option>
          <option value="2">Estacionamento</option>
          <option value="3">Wi-Fi</option>
          <option value="4">Piscina</option>
          <option value="5">Academia</option>
        </select>
      </div>
      <div class="form-group">
        <label for="img_h">Imagem</label>
        <input type="file" class="form-control-file" id="img_h" name="img_h">
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</body>
</html>

{% endblock %}