{% extends 'base_adm.html' %}
{% block content %}

<div class="container mt-5" style="border: 1px solid black; height: 500px; background-color: #416980; color: white; border-radius: 10px; width: 1000px;">
    <form action="/register" method="post">
      <h2>Registrar Pacotes</h2>
      <div class="form-group">
        <label for="ID_pct">ID</label>
        <input type="number" class="form-control" id="ID_pct" name="ID_pct" placeholder="Número de identificação">
      </div>
      <div class="form-group">
        <label for="n_pct">Nome</label>
        <input type="text" class="form-control" id="n_pct" name="n_pct" placeholder="Nome do pacote">
      </div>
      <div class="form-group">
        <label for="e_pct">Tempo de Expedição:</label>
        <input type="text" class="form-control" id="e_pct" name="e_pct" placeholder="Insira a duração em dias">
      </div>
      <div class="form-group">
        <label for="dsc_pct">Descrição:</label>
        <input type="text" class="form-control" id="dsc_pct" name="dsc_pct" placeholder="Descreva este pacote">
      </div>
      <div class="form-group">
        <label for="s_pct">Serviços:</label>
        <select class="form-control" id="s_pct" name="s_pct">
          <option value="1">Alimentação</option>
          <option value="2">Estacionamento</option>
          <option value="3">Wi-Fi</option>
          <option value="4">Piscina</option>
          <option value="5">Academia</option>
        </select>
      </div>
      <div class="form-group">
        <label for="v_pct">Valor</label>
        <input type="number" class="form-control" id="v_pct" name="v_pct" placeholder="Valor do pacote">
      </div>
      <div class="form-group">
        <label for="img_pct">Imagem</label>
        <input type="file" class="form-control-file" id="img_pct" name="img_pct">
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</body>
</html>

{% endblock %}