{% extends 'base_adm.html' %}
{% block content %}

<div class="container mt-5" style="border: 1px solid black; height: 500px; background-color: #416980; color: white; border-radius: 10px; width: 1000px;">
    <form action="/register" method="post">
      <h2>Registrar Passagens</h2>
      <div class="form-group">
        <label for="ID_psg">ID</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="Número de identificação">
      </div>
      <div class="form-group">
        <label for="n_psg">Nome</label>
        <input type="text" class="form-control" id="n_psg" name="n_psg" placeholder="Titulo da passagem">
      </div>
      <div class="form-group">
        <label for="t_psg">Telefone</label>
        <input type="tel" class="form-control" id="t_psg" name="t_psg" placeholder="Número para contato">
      </div>
      <div class="form-group">
        <label for="s_psg">Serviços</label>
        <select class="form-control" id="s_psg" name="s_psg">
          <option value="1">Alimentação</option>
          <option value="2">Estacionamento</option>
          <option value="3">Wi-Fi</option>
          <option value="4">Piscina</option>
          <option value="5">Academia</option>
        </select>
      </div>
      <div class="form-group">
        <label for="d_psg">Destinos:</label>
        <input type="text" class="form-control" id="d_psg" name="d_psg" placeholder="Registre um destino">
      </div>
      <div class="form-group">
        <label for="v_psg">Valor</label>
        <input type="number" class="form-control" id="valor" name="valor" placeholder="Valor da passagem">
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</body>
</html>

{% endblock %}