{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fly Explorer</title>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap" rel="stylesheet">
    <style>
      .nv .nav-item {
      position: relative;
    }

    .nv .nav-item .nav-link {
      padding-bottom: 0.5rem; /* Ajuste conforme necessário */
    }

    .nv .nav-item.active .nav-link::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px; /* Altura da linha de underline */
      background-color: #007bff; /* Cor da linha de underline */
      position: absolute;
      bottom: 0;
      left: 0;
      }

    .elemento1{
      position: relative;
      z-index: 1;
      border-bottom: #c8f5f5 5px solid;
      margin-right: 20px;
    }
    body {
      background-image: linear-gradient(45deg, rgb(19, 156, 156), #b2e6e6);
    }
    </style>


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}"></a>
      <ul class="nav" style="background-color: #385565; border-radius: 10px 0px 0px 10px; color: white; padding-bottom: 5px; padding-right: 5px; padding-left: 10px;">
        <li class="nav-item" style="padding-top: 10px; padding-right: 10px;">
          <a>Canais de Atendimento: <img style="padding-right: 2%; margin-left: 10px;" width="42" src="{% static 'img/phone_icon.png'%}"/><img width="42" src="{% static 'img/email_icon.png'%}"/></a>
        </li>
        <li class="nav-item" style="border-left: black solid 2px; padding-top: 10px;">
          <a href="#" style="text-decoration:none; color: white;"><img width="40" src="{% static 'img/shopping_icon.png' %}">Compras</a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="nv nav nav-tabs">
    <li class="elemento1 nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'hoteis' %}" style="color: black ;">Hoteis</a>
    </li>
    <li class="elemento1 nav-item">
      <a class="nav-link" href="{% url 'passagens' %}" style="color: black ;">Passagens</a>
    </li>
    <li class="elemento1 nav-item">
      <a class="nav-link" href="{% url 'pacotes' %}" style="color: black ;">Pacotes</a>
    </li>
    <li class="elemento1 nav-item">
      <a class="nav-link" href="{% url 'ofertas' %}" style="color: black ;">Ofertas</a>
    </li>
    <li class="elemento1 nav-item">
      <a class="nav-link" href="{% url 'alugueis' %}" style="color: black ;">Alugueis</a>
    </li>
    
    <li class="elemento1 nav-item" style="margin-right: 40%;">
      <a class="nav-link" href="{% url 'seguros' %}" style="color: black ;">Seguros</a>
    </li>
    <div class="dropdown ">
      <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer; text-decoration-line: none;">

        <img width="50" src="{% static 'img/user_icon.png' %}">Minha Conta 
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'tela_login' %}">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Minhas compras</a></li>
        <li><a class="dropdown-item" href="#">Configurações</a></li>
        <li><a class="dropdown-item" href="{% url 'c_hoteis' %}">acesso especial</a></li>
      </ul>
    </div>
  </ul>
    
    {% block content %}
    <div class="container mt-4" style="border: 1px solid black; height: 120px; background-color: #416980; color: white; border-radius: 10px;">
      <h1 style="font-size: 20px;" class="mt-1">Buscar Hoteis</h1>
      <form action="/search" method="post">
        <div class="row">
  
          <div class="col-md-3">
            <div class="form-group">
              <labelfor="destino">Destino</label>
              <input type="text" class="form-control" id="destino" name="destino" placeholder="Ex: Rio de Janeiro">
            </div>
          </div>
       
          <div class="col-md-2">
            <div class="form-group">
              <label for="data-ida">Entrada</label>
              <input type="date" class="form-control" id="data-ida" name="data-ida">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="data-volta">Saida</label>
              <input type="date" class="form-control" id="data-volta" name="data-volta">
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="qtd-quarto">Quartos</label>
              <input type="text" class="form-control" id="qtd-quarto" name="qtd-quarto">
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="qtd-pessoas">Pessoas</label>
              <input type="text" class="form-control" id="qtd-pessoas" name="qtd-pessoas">
            </div>
          </div>
          <div class="col-md-1 pt-4">
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
          </div>
        </div>
      </form>
    </div>
  
    {% endblock %}

    <!-- Landing Page - Começo-->

    <div class="text-center" style="width: 100%; height: 500px; background-color: #90d8d8; margin-top: 5%; padding-bottom: 90px;">
        <h1 style="font-family: 'Advent Pro', sans-serif; padding-top: 30px; text-align: center;">Vantagens</h1>
        
        <div class="row justify-content-center" style="padding-top:20px;">
        
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
              <img src="{% static 'img/vtg1.jpg' %}" style="width: 100%;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Comodidade</h5>
                <p class="card-text">Na FlyExplorer você planeja a viagem dos seus sonhos na comodidade de sua casa!</p>
              </div>
            </div>
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
              <img src="{% static 'img/vtg2.png' %}" height="250" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Os Melhores Preços</h5>
                <p class="card-text">Na FlyExplorer temos os melhores preços e pacotes para suas viagens!</p>
              </div>
            </div>
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
              <img src="{% static 'img/vtg3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Os Melhores Destinos</h5>
                <p class="card-text">Na FlyExplorer temos as melhores recomendações de destinos!</p>
              </div>
            </div>
    
        </div>

    </div>
<!-- Duvidas Frequentes -->
    <div style="width: 100%; height: 500px; background-color: #90d8d8;">
      <div class="row justify-content-center" style="padding-top: 40px;">
        <div class="figure" style="padding-bottom: 2%;">
          <img width="100" src="{% static 'img/ask_icon.png' %}">
          <a style="font-size: 40px; ">Duvidas Frequentes</a>
        </div>
        
        <div class="col-6">

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Como utilizo o site
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Para <strong>utilizar</strong> o site, você deve navegar e explorar os melhores preços e recomendações. 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Como reservo uma hospedagem
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Para realizar uma <strong>hospedagem</strong>, você deve ir até a aba Hoteis, localizado na barra de navegação e pesquisar uma hospedagem de acordo com suas preferencias.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Sobre o nosso serviço
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  A FlyExplorer valoriza e prioriza a <strong>eficiencia.</strong> Portanto, nosso serviço otimiza as pesquisas com os melhores <code>filtros</code>.
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-6">

          <div class="accordion" id="accordionExample2">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Como encontrar a sua viagem perfeita
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  Para <strong>encontrar</strong> a viagem que mais conbina com você, sugerimos buscar por nossas recomendaçõs presentes na aba <code>Ofertas</code>. Em ofertas, separamos os melhores preços e buscamos exibir os destinos mais buscados por nossos clientes.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Como faço uma parceria
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  Para se candidatar uma <strong>parceria</strong>, vocẽ deve acessar o link de acesso <code>especial</code> para parceiros, localizado no menu de usuario e no rodapé.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Como registro uma nova conta
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  Para <strong>registrar</strong> uma nova conta, o usuario deve se direcionar ao <code>menu de usuario</code>, entrar em <code>Perfil / Login</code> e escolher a opção <code>Registrar</code> e em seguida basta preencher seus dados e registrar.
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

 <!-- Rodapé -->
    <div style="width: 100%; height: 90px; background-color: #90d8d8; border: black solid 1px">
    
      <div class="row" style="padding-left: 5%; padding-top: 2%;">
        <div class="figure" >
        
          <img width="40" src="{% static 'img/instagram_icon.png' %}">
          <img width="30" src="{% static 'img/Twitter_icon.png' %}">
          <img width="40" src="{% static 'img/telegram_icon.png' %}">
          <img width="40" src="{% static 'img/email2_icon.png' %}">
            <a style="padding-left: 60%; font-weight: bold;"> Central de Vendas</a>
            <span>0800 983 515 295</span>

        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12"><br></div>
      <div class="col-sm-3" style="font-weight: bold; padding-left: 10%;">Minha conta</div>
      <div class="col-sm-3" style="font-weight: bold;">FlyExplorer</div>
      <div class="col-sm-3" style="font-weight: bold;">Nossas Garantias</div>
      <div class="col-sm-3" style="font-weight: bold; padding-right: 2%;">Seja Nosso Parceiro</div>
      <div class="col-sm-12"><br></div>
      <div class="col-sm-3" style="padding-left: 10%;"><a href="#" style="color: black;">Meu Perfil</a></div>
      <div class="col-sm-3" ><a href="#" style="color: black;">FAQS</a></div>
      <div class="col-sm-3" ><a href="#" style="color: black;">Termos e Condições</a></div>
      <div class="col-sm-3" style="padding-right: 2%;"><a href="#" style="color: black;">Cadastre sua empresa</a></div>

      <div class="col-sm-3" style="padding-left: 10%;"><a href="#" style="color: black;">Minhas Reservas</a></div>
      <div class="col-sm-3" ><a href="#" style="color: black;">Traballhe Conosco</a></div>
      <div class="col-sm-3" ><a href="#" style="color: black;">Politica de Privacidade</a></div>
      <div class="col-sm-3" style="padding-right: 2%;"><a href="#" style="color: black;">Planos e Beneficios</a></div>
      <div class="col-sm-3" style="padding-left: 10%;"><a href="#" style="color: black;">Minhas Programações</a></div>
      <div class="col-sm-9"><br></div>


    </div>
    
    <!-- Sobre a Empresa -->
    <div class="container-fluid">
        <h2></h2>
        
    </div>
    
    <div>

    </div>
   
    <div>
        
    </div>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>